@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.button {
	transition: box-shadow ease-in 75ms;
	@apply rounded-full py-2 w-[45%] disabled:bg-slate-400 disabled:text-gray-700 disabled:cursor-not-allowed text-black p-2 shadow-none;
}
.primary {
	@apply bg-violet-600 text-white;
}
.secondary {
	@apply border border-black text-black;
}
.button:active {
	/* transition: box-shadow linear 100ms; */
	@apply shadow-sm;
}

.translate-up {
	transform: translateY(-100px);
}

.masked {
	position: relative;
	-webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent);
	mask-image: linear-gradient (transparent, black 20%, black 80%, transparent);
}
