@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.button {
	transition: box-shadow ease-in 75ms;
	@apply rounded-full py-2 w-[45%] disabled:bg-opacity-40 disabled:text-gray-200 disabled:cursor-not-allowed disabled:border-gray-300 text-black p-2 shadow-none;
}
.primary {
	@apply bg-violet-600 text-white;
}
.secondary {
	@apply border border-black text-black;
}
.button:active {
	/* transition: box-shadow linear 100ms; */
	@apply shadow-sm;
}

.translate-up {
	transform: translateY(-100px);
}

.masked {
	position: relative;
	-webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent);
	mask-image: linear-gradient (transparent, black 20%, black 80%, transparent);
}

@font-face {
	font-family: 'anybody';
	src: url('/anybody.ttf') format('truetype-variations');
	font-weight: 1 999;
}

.font-anybody {
	font-family: anybody, serif;
	font-optical-sizing: auto;
	font-style: normal;
}
